altair==5.5.0
anndata==0.11.3
annotated-types==0.7.0
anyio==4.8.0
array-api-compat==1.11.1
attrs==25.1.0
certifi==2025.1.31
cfgv==3.4.0
click==8.1.8
contourpy==1.3.1
cycler==0.12.1
distlib==0.3.9
distro==1.9.0
docutils==0.21.2
duckdb==1.2.1
fastjsonschema==2.21.1
filelock==3.17.0
fonttools==4.56.0
formulaic==1.1.1
formulaic-contrasts==1.0.0
h11==0.14.0
h5py==3.13.0
httpcore==1.0.7
httpx==0.28.1
identify==2.6.8
idna==3.10
iniconfig==2.0.0
interface-meta==1.3.0
itsdangerous==2.2.0
jedi==0.19.2
jinja2==3.1.6
jiter==0.8.2
joblib==1.4.2
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter-core==5.7.2
kiwisolver==1.4.8
marimo==0.11.17
markdown==3.7
markupsafe==3.0.2
matplotlib==3.10.1
narwhals==1.29.1
natsort==8.4.0
nbformat==5.10.4
nodeenv==1.9.1
numpy==2.2.3
openai==1.65.4
packaging==24.2
pandas==2.2.3
parso==0.8.4
pillow==11.1.0
platformdirs==4.3.6
pluggy==1.5.0
polars==1.24.0
pre-commit==4.1.0
psutil==7.0.0
pyarrow==19.0.1
pycrdt==0.11.1
pydantic==2.10.6
pydantic-core==2.27.2
pydeseq2==0.5.0
pygments==2.19.1
pymdown-extensions==10.14.3
pyparsing==3.2.1
pytest==8.3.5
python-dateutil==2.9.0.post0
pytz==2025.1
pyyaml==6.0.2
referencing==0.36.2
rpds-py==0.23.1
ruff==0.9.10
scikit-learn==1.6.1
scipy==1.15.2
session-info==1.0.0
six==1.17.0
sniffio==1.3.1
sqlglot==26.9.0
starlette==0.46.1
stdlib-list==0.11.1
threadpoolctl==3.5.0
tomlkit==0.13.2
tqdm==4.67.1
traitlets==5.14.3
typing-extensions==4.12.2
tzdata==2025.1
uvicorn==0.34.0
virtualenv==20.29.2
websockets==15.0.1
wrapt==1.17.2
